{eunit_opts, [verbose]}.
{deps, []}.

{pre_hooks, [
    {clean, "rm -f priv/*.so priv/*.dylib"},
    {clean, "rm -rf _build/cmake"},
    {"(linux|darwin|solaris)", compile, "./do_cmake.sh $DUCKTAPE_OPTS"},
    {"(freebsd|netbsd|openbsd)", compile, "./do_cmake.sh $DUCKTAPE_OPTS"},
    {"win32", compile, "mkdir _build\\cmake & cd _build\\cmake & cmake ..\\..\\c_src"}
]}.

{post_hooks, [
    {"(linux|darwin|solaris)", compile, "./do_build.sh $DUCKTAPE_BUILDOPTS"},
    {"(freebsd|netbsd|openbsd)", compile, "./do_build.sh $DUCKTAPE_BUILDOPTS"},
    {"win32", compile, "cmake --build _build\\cmake --config Release --parallel"}
]}.
